:root {
  --guest-login-btn-hover: #dcdcf8;
  --login-btn-hover: #344680;
  --login-box-shadow: rgba(0, 0, 0, 0.35);
  --notes-primary-color: #152b75;
}
.login-wrapper {
  height: 100vh;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.56rem;
  padding: 1.56rem;
  box-shadow: var(--login-box-shadow) 0px 5px 15px;
}
.email-validate,
.pswrd-validate {
  padding: 8px;
  color: var(--txt-grey-500);
  border: 1px solid var(--txt-grey-300);
  outline: none;
  border-radius: 5px;
}
.login-credentials {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  gap: 1.25rem;
}
.email,
.password {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.reset-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.12rem;
}
.checkbox {
  margin-right: 5px;
}
.forgot-pswrd-link {
  color: var(--primary-color);
  text-decoration: none;
}
.login-btn {
  color: var(--txt-white);
  margin-top: 2px;
  font-weight: bolder;
  border: none;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--notes-primary-color);
  cursor: pointer;
}
.login-btn:hover {
  background-color: var(--login-btn-hover);
}
.have-account-link {
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
}
/* SignUp page */
.user-name {
  display: flex;
  gap: 1rem;
}
.first-name,
.last-name {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login-guest-btn {
  background-color: white;
  color: var(--notes-primary-color);
  border: 1px solid var(--notes-primary-color);
}
.login-guest-btn:hover {
  background-color: var(--guest-login-btn-hover);
}
p,
h1 {
  margin: 0;
}
