.label-container {
  border: 1px solid #152b75;
  width: 205px;
  padding: 5px;
  position: relative;
  border-radius: 10px;
  top: -50px;
  left: 380px;
  color: white;
  background-color: #152b75;
}
.label-input {
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
  width: 100px;
  /* border: none; */
}
.label-tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 7px;
}
.label-tag {
  border: 1px solid grey;
  font-size: 14px;
  width: fit-content;
  padding: 3px;
  border-radius: 10px;
  margin: 5px;
  /* display: flex;
    flex-direction: row; */
}
.close-tag {
  padding: 1px 4px;
  font-size: 12px;
  font-weight: bold;
  margin: 2px;
  cursor: pointer;
  color: grey;
  /* border: 1px solid white; */
}
.close-tag:hover {
  border-radius: 50%;
  color: red;
  /* transition: 0.3s; */
  /* background-color: rgb(192, 181, 181); */
  border: 1px solid grey;
}
.close-label-option {
  position: absolute;
  font-size: 12px;
  top: 0px;
  right: 0px;
}
.add-label-btn {
  padding: 5px;
  cursor: pointer;
  color: white;
  background-color: #152b75;
  border: 1px solid white;
  border-radius: 10px;
}
